*{
    box-sizing: border-box;
}
body{
    background: #d8ddf3;
    padding: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: 'Noto Sans',sans-serif;
    min-height: 200vh;
}
.card{
    text-decoration: none;
    color:#2c2e41;
    max-width: 300px;
    width: 100%;
    background: white;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(44,46,65,0.15);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card header{
padding-bottom: 90%;
position: relative;
border-radius: 10px;
overflow: hidden;
background-image: url("photo1.jpeg");
background-size: cover;
background-position: center;
}
.card .content{
    left: 0;
    width: 100%;
    background: #fff;
   /* padding: 30px 30px 30p;*/
    margin-top: -20px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.card .content > *{
    margin-bottom: 20px;
}
p{
    text-align: center;
    margin-bottom: 20px;
}
.card .content > *:last-child{
    margin-bottom: 0;
}
.card .content h4{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
    color:#000;
}
.card .read-more{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 20px;
    background: #f1f1f1;
    border-radius: 50px;
    position:absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 0 4px 15px rgba(44,46,65,0.15);
}
.card:hover .content{
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.card:hover .read-more{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.read-more{
    background: #3a2c41;
}